body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: azure;
    margin: 0;
}
.navbar{
    background-color: rgb(71, 164, 187);
    padding-right: 30px;
    padding-left: 15px;
}
.navdiv{
    display: flex; 
    align-items: center; 
    justify-content: space-between;
}
.logo a{
    font-size: 35px; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600; 
    color: white;
    text-decoration: none;
    margin-left: 10px;
}
.logo span {
    color: rgb(9, 77, 94);
}
ul {
    margin-left: 20px;
}
li{
    list-style: none; 
    display: inline-block;
}
li a{
    color: white; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px; 
    font-weight: bold; 
    padding-left: 10px;
    padding: 15px;
    text-decoration: none;
}
li a:hover {
    background-color: rgb(9, 77, 94);
}
h1 {
    color: rgb(9, 77, 94);
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 5px 5px 10px #5fb8cf; 
    font-size: 50px; 
}
h2 {
    color: rgb(9, 77, 94);
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5em;
}
.line-format {
    margin-top: -23px;
}
.line {
    text-align: center;
    width: 30%;
    border: 1px solid #5fb8cf; 
}
.line1 {
    text-align: center;
    width: 90%;
    border: 1px solid #5fb8cf; 
}
.introduction {
    text-align: center;
    margin: 0px 250px 0px 250px;
    line-height: 20px;
    font-size: 10pt;
    color: #666;
}
.bodycontent{
	margin: auto;
    margin-bottom: 20px;
	position: relative;
	max-width: 86%;
	min-width: 40%;
	box-shadow: 0 6px 10px rgba(0,0,.4);
    background-color: white;
}
img {
    display:block; 
    margin:auto;
}





