h1 {
    color: rgb(9, 77, 94);
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 5px 5px 10px #5fb8cf; 
    font-size: 50px;
    margin: 2px 2px 2px 3px;
    margin-top: 40px;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    background-color: azure;
    margin: 0;
}
mark {
    background-color: rgb(188, 217, 224); 
    border-radius: 10px;
}
sup {
    color: #0b6e87;
}
.navbar{
    background-color: rgb(71, 164, 187);
    padding-right: 30px;
    padding-left: 15px;
}
.navdiv{
    display: flex; 
    align-items: center; 
    justify-content: space-between;
}
.logo a{
    font-size: 35px; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600; 
    color: white;
    text-decoration: none;
    margin-left: 10px;
}
.logo span {
    color: rgb(9, 77, 94);
}
ul {
    margin-left: 20px;
}
li{
    list-style: none; 
    display: inline-block;
}
li a{
    color: white; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px; 
    font-weight: bold; 
    padding: 15px;
    text-decoration: none;
}
li a:hover {
    background-color: rgb(9, 77, 94);
    position: relative;
}
#adjust {
    margin-top: 40px;
    margin-bottom: -30px;
}

.header {
    max-width: 1280px;
    margin: auto;
    display: flex;
    max-width: 1280px;
    margin-bottom: 40%;
    text-align: center;
}

.line {
    text-align: center;
    width: 30%;
    border: 1px solid #5fb8cf; 
}
.line1 {
    text-align: center;
    width: 60%;
    border: 1px solid #5fb8cf; 
}
.introduction {
    text-align: center;
    margin: 0px 300px 0px 300px;
    line-height: 20px;
    font-size: 10pt;
    color: #666;
}
.navigator{
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
    box-shadow: 5px 7px 15px 5px #b9b6b6;
    border-radius: 30px;
    height: 100px;
    width: 300px;
    margin-top: 30px;
    margin-left: 120px;
    margin-bottom: 30px;
    margin-right: 100px;
    background-color: white;
}
.navigator2 {
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
    box-shadow: 5px 7px 15px 5px #b9b6b6;
    border-radius: 30px;
    height: 100px;
    width: 300px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 100px;
    background-color: white;
}
.navigator3 {
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
    box-shadow: 5px 7px 15px 5px #b9b6b6;
    border-radius: 30px;
    height: 100px;
    width: 300px;
    margin-top: 30px;
    margin-left: 10px;
    margin-bottom: 30px;
    margin-right: 100px;
    background-color: white;
}
.h1-menu, .h1-menu1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    text-decoration: none;
    text-shadow: none;
    margin: auto;
    padding-top: 25px;
}
.h1-menu a, .h1-menu1 a{
    text-decoration: none;
    color: rgb(9, 77, 94);
}
.h1-menu a:hover {
    font-size:42px; 
    font-weight: 2000;
    color: rgb(9, 77, 94);
}
.h1-menu1 a:hover {
    font-size:42px; 
    font-weight: 2000;
    color: rgb(9, 77, 94);
}
.navigator:hover {
    box-shadow: 5px 7px 15px 5px rgb(143, 209, 228); 
}
.navigator2:hover {
    box-shadow: 5px 7px 15px 5px rgb(143, 209, 228); 
}
.navigator3:hover {
    box-shadow: 5px 7px 15px 5px rgb(143, 209, 228); 
}
.container {
    margin: auto;
    text-align: center;
    max-width: 1200px;
    background-color: white;
    border: 2px solid rgb(9, 77, 94);
}
.container h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    background-color: rgb(9, 77, 94);
    margin-left: 50px;
    margin-right: 50px;
}
.contents {
    display: flex;
}
.content1 {
    padding: 0px 50px 5px 50px;
}
img {
    width: 350px;
    height: 300px;
    display: inline-flex;
    opacity: 0.80;
    border-radius: 10px;
    border: 3px solid rgb(201, 201, 201);
}
img:hover {
    opacity: 1.00;
    box-shadow: 0 0 4px 3px rgb(143, 209, 228); 
}
.information {
    text-align: justify;
    margin-left: 20px;
    margin-right: 15px;
    text-indent: 40px;
    font-size: 14px;
    line-height: 30px;
}
.button-placement {
    min-width: 500px;
    max-width: 100em;
    display: flex;
    margin-bottom: 30px;
    margin-left: 400px;
}
.button {
    display: block;
    width: 115px;
    height: 25px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    margin-left: 50px;
}
.button:hover {
    box-shadow: 5px 7px 15px 5px rgb(143, 209, 228); 
}